.TabelaProdutos th{
    background-color: #008b8b;
    color: #fff;
}

.TabelaProdutos table{
    width: 100%;
}

.TabelaProdutos .Par{
    background-color: #ddd;
}

.TabelaProdutos .Impar{
    background-color: #ccc;
}